*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/androidApp/build/*.*
/captures
.externalNativeBuild
.cxx
local.properties
/java_pid33994.hprof
/java_pid34680.hprof
*.class
*.dex
*.klib
/androidApp/build/intermediates
*.tab
*.keystream
*.bin
*.class
